@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Roboto', Helvetica, sans-serif;    
}

body {
    max-width: 1980px;
    margin: auto;
    background-color: #ffffff;
}

header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 2rem 25rem 15rem;
}

.header-upper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15rem;
}

.header-main {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.header-logo {
    color: #f9faf8;
    font-size: 2.4rem;
    text-decoration: none;
    flex: 0 0 auto;
    width: 50rem;
}

.header-title {
    color: #f9faf8;
    font-size: 4.8rem;
    font-weight: bolder;
    width: 45rem;
}

.header-text {
    color: #e5e7eb;
    font-size: 1.8rem;    
    flex: 0 0 auto;
    width: 40rem;
    padding-bottom: 1rem;
}

.sign-up-button {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 2rem;
    justify-content: center;
    border: 0.1px solid #3882f6;
    border-radius: 0.5rem;
    padding: 0.3rem 2.5rem;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-basis: 50%;
    flex: 0 0 auto;
}

.header-links > a {
    color: #e5e7eb;
    font-size: 1.8rem;
    text-decoration: none;
}

.header-links > a:hover {
    color: #617eb6;
}

.information-block {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 15rem;
}

.information-block-header {
    font-size: 3.6rem;
    color: #1f2937;
    margin: auto;
    padding: 5rem 0;
}

.preview-blocks {
    display: flex;
    justify-content: center;
    gap: 5rem;
    text-align: center;
}

.preview-text {
    font-size: 1.8rem;
    width: 20rem;
}

.preview-image {
    margin: auto;
    height: 15rem;
    width: 15rem;
    border: 5px solid #3882f6;
    border-radius: 1.5rem;
}

.quote-block {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15rem 55rem;
}

.quote {
    font-size: 3.6rem;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.signature {
    font-size: 2.4rem;
    color: #1f2937;
    font-weight: bold;
    align-self: flex-end;
}

.call-to-actions-parts {
    display: flex;
}

.call-to-action {
    background-color: #3882f6;
    color: #f9faf8;    
    max-width: calc(100% - 160rem);
    margin: 10rem auto;
    border-radius: 1rem;
    padding: 5rem 15rem;
    min-width: 800px;
}

.call-to-actions-parts {
    display: flex;
    justify-content: space-between;
}

.call-to-actions-parts > .left > p {
    font-size: 2.4rem;
    font-weight: 700;
}

.call-to-actions-parts > .left > p ~ p {
    font-size: 1.8rem;
    font-weight: 100;
}

.call-to-actions-parts > .right {
    align-self: flex-end;
}

.call-to-actions-parts > .right > button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 0.2rem solid #f9faf8;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 1rem;
    padding: 0.5rem 3.5rem;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 2.4rem;
    text-align: center;
    padding: 3rem 0;
}