* {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Roboto', Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    padding: 2rem 25rem 15rem;
}

.header-upper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15rem;
}

.header-main {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.header-logo {
    color: #f9faf8;
    font-size: 2.4rem;
    text-decoration: none;
    flex: 0 0 auto;
    width: 50rem;
}

.header-title {
    color: #f9faf8;
    font-size: 4.8rem;
    font-weight: bolder;
    width: 45rem;
}

.header-text {
    color: #e5e7eb;
    font-size: 1.8rem;    
    flex: 0 0 auto;
    width: 40rem;
    padding-bottom: 1rem;
}

.sign-up-button {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 2rem;
    justify-content: center;
    border: 0.1px solid #3882f6;
    border-radius: 0.5rem;
    padding: 0.3rem 2.5rem;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-basis: 50%;
    flex: 0 0 auto;
}

.header-links > a {
    color: #e5e7eb;
    font-size: 1.8rem;
    text-decoration: none;
}

.header-links > a:hover {
    color: #617eb6;
}

.information-block {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.information-block-header {
    font-size: 3.6rem;
    color: #1f2937;
    margin: auto;
    padding: 5rem 0;
}

.preview-blocks {
    display: flex;
    justify-content: center;
    gap: 5rem;
    text-align: center;
}

.preview-text {
    font-size: 1.8rem;
    width: 20rem;
}

.preview-image {
    margin: auto;
    height: 15rem;
    width: 15rem;
    border: 5px solid #3882f6;
    border-radius: 1.5rem;
}